.MuiButton-label {
    width: 100%;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    
}
.box
{

    margin: 20px;
    padding-left: 20px;
    margin-right: 30px;
    width: fit-content;
    display: 'inline-block'; 
    max-width: '2px';
    transform: 'scale(0.8)';
}
.MuiCard-root {
    overflow: visible;
    box-shadow: 100px;
    box-sizing: border-box;
    border-radius: 20px;
    border: 3px solid bisque;
    shape-outside: margin-box;
}
.card_input
{
    padding-top: 10px;
}
.paper
{
    padding: 10px;
    margin-top: 20px;
    padding-right: 40px;
    border:2px silver white ;
}
/* .main_card
{
    background-color: aqua;
    width: 100%;
} */